/*  Images */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 160px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.item {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    width: auto;
    padding: 5px;
}

#title{
    background: #a0a0a0;
    padding: 5px;
    border-radius: 4px;
}

/*  Navigation Bar*/

.nav a{
    margin: 2px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nav a:hover{
    text-decoration: none;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



/* ------------------------------ */
/*  Search Bar*/
.search{
    text-align: left;
}
.search span{
    font-weight: bold;
}

input{
    border-radius: 4px;
}

#radio-btn, #search-btn{
    margin-left: 5px;
}


button{
    font-weight: bold;
    border-radius: 4px;
}

button:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: pointer;
}
/* ------------------------------ */

/*Category Section*/
.category{
    border: goldenrod 2px solid;
    border-radius: 4px;
    text-align: center;
    height: 450px;
}

.active{
    color: black;
}

form{

    text-align:left;
}
/* ------------------------------ */

/*Gallery Section*/
.gallery{
    border: goldenrod 2px solid;
    border-radius: 4px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.gallery li{
    margin-bottom: 10px;
}


/*******************************/
/*pagination*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}